body,
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
}

.empty {
    background-image: url("");
}

.img1 {
    background-image: url("images/background/img1.png");
}

.img2 {
    background-image: url("images/background/img2.gif");
}

.img3 {
    background-image: url("images/background/img3.png");
}

.img4 {
    background-image: url("images/background/img4.png");
}

.img5 {
    background-image: url("images/background/img5.png");
}

div.weblinks {
    background-color: black;
    position: fixed;
    padding: 1% 1% 1% 1%;
    right: 5%;
    top: 5%;
    z-index: 100;
}

a#links {
    transition: all 0.8s;
    text-decoration: none;
    font-family: helvetica;
    font-size: 90%;
    font-weight: bold;
    color: white;
    padding: 10px 10px 10px 10px;
}

a#links:hover {
    filter: brightness(100%);
    color: white;
    background-color: rgb(225, 225, 225, 0.3);
}

div.title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    top: 40%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-family: Arial Black;
    color: white;
    opacity: 0.9;
    filter: brightness(100%);
}

div.title h1 {
    animation: 0.5s slidein;
}

div.title img {
    animation: 0.5s spin;
    width:75%;
}
div.text {
    line-height: 255%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-right: 25%;
    margin-left: 25%;
    position: absolute;
}

div.text h1 {
    font-size: 300%;
}

img#logo {
    transition: all 0.5s;
    width: 5%;
    margin-left: 4%;
    margin-top: 1%;
}

img#logo:hover {
    transform: scale(1.2);
    filter: brightness(80%);
}

img#top-button {
    transition: all 0.3s;
    width: 5%;
    position: fixed;
    bottom: 1%;
    right: 0.5%;
}

.hide {
    opacity: 0;
    right: -100%;
  }
.show {
opacity: 1;
right: 0.5%;
}

img#top-button:hover {
    transform: scale(1.1);
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-120%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: translateY(120%) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
}
